.experience h2 {
	margin-top: 150px;
}

.experience {
	margin-right: 50px;
	margin-left: 50px;
}

.experiencelsit {
	height: 500px;
	width: 1175px;
	margin-top: 10px;
	float: left;
	padding: 100px;
}

.area {
	float: right;
	margin-top: 50px;
	border-radius: 4px;
}

.experiencelsit img {
	float: left;
}

/* Box Model */
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* Basic */
@
-ms-viewport {
	width: device-width;
}

body {
	-ms-overflow-style: scrollbar;
}

@media screen and (max-width: 480px) {
	html, body {
		min-width: 320px;
	}
}

body.is-loading *, body.is-loading *:before, body.is-loading *:after {
	-moz-animation: none !important;
	-webkit-animation: none !important;
	-ms-animation: none !important;
	animation: none !important;
	-moz-transition: none !important;
	-webkit-transition: none !important;
	-ms-transition: none !important;
	transition: none !important;
}

/* Box */
.thumbnails {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-align-items: stretch;
	-webkit-align-items: stretch;
	-ms-align-items: stretch;
	align-items: stretch;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	-moz-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.thumbnails .box {
	margin: 0 1em 2em 1em;
	width: 30%;
}

@media screen and (max-width: 1270px) {
	.thumbnails .box {
		width: 45%;
	}
}

@media screen and (max-width: 736px) {
	.thumbnails .box {
		width: 100%;
	}
}

/* Box */
.box {
	border-radius: 4px;
	margin-bottom: 2em;
	background: #F6F6F6;
	text-align: center;
}


.box>:last-child, .box>:last-child>:last-child, .box>:last-child>:last-child>:last-child
	{
	margin-bottom: 0;
}

.box .image.fit {
	margin: 0;
}

.box .image img {
	border-radius: 4px 4px 0 0;
}

.box .inner {
	padding: 1.5em;
	width: 100% !important;
}

@media screen and (max-width: 480px) {
	.box .inner {
		padding: 1em;
	}
}

.box.alt {
	border: 0;
	border-radius: 0;
	padding: 0;
}

/* image */
.image {
	border-radius: 4px;
	border: 0;
	display: inline-block;
	position: relative;
}

.image img {
	border-radius: 4px;
	display: block;
}

.image.left, .image.right {
	max-width: 40%;
}

.image.left img, .image.right img {
	width: 100%;
}

.image.left {
	float: left;
	padding: 0 1.5em 1em 0;
	top: 0.25em;
}

.image.right {
	float: right;
	padding: 0 0 1em 1.5em;
	top: 0.25em;
}

.image.fit {
	display: block;
	margin: 0 0 2em 0;
	width: 100%;
}

.image.fit img {
	width: 100%;
}

.image.main {
	display: block;
	margin: 0 0 3em 0;
	width: 100%;
}

.image.main img {
	width: 100%;
}

/* Button */

.button {
	background-color: #A8CEA4;
	border-radius: 4px;
	border: 0;
	color: #ffffff !important;
	cursor: pointer;
	display: inline-block;
	font-weight: 400;
	height: 2.85em;
	line-height: 2.95em;
	padding: 0 1.5em;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
}

.button:hover {
	background-color: #B6D7A8;
}


.button.fit {
	display: block;
	margin: 0 0 1em 0;
	width: 100%;
}

/* Main */
#main {
	padding: 7em 0 2em 0;
}

@media screen and (max-width: 736px) {
	#main {
		padding: 3em 0 1em 0;
	}
}

#main .inner {
	width: 90%;
	max-width: 80em;
	margin: 0 auto;
}

@media screen and (max-width: 480px) {
	#main .inner {
		width: 95%;
	}
}

/* 페이징 */
.page {
	text-align: center;
	margin-bottom: 70px;
	width: 100%;
}

.page ul {
	list-style: none;
	/* float: left; */
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

.page ul li {
	float: left;
}

.page ul li input, .page ul li a {
	float: left;
	padding: 4px;
	margin-right: 8px;
	width: 30px;
	height: 30px;
	color: #868686;
	font: 20px tahoma;
	border: 1px solid #eee;
	text-align: center;
	text-decoration: none;
	border-radius: 6px;
	background: #fff;
}

.page ul li a:hover, .page ul li a:focus, .page ul li input:hover, .page ul li input:focus {
	/*    color:#fff; */
	border: 1px solid: #92A2D6;
	background-color: rgba(144, 144, 144, 0.075);
	border-radius: 6px;
}

/*---네비 밑 그라데이션---*/
section1{
	margin-top: 18px;
	font-weight: bold;
	
	background: linear-gradient(to left, #A8CEA4,lightGrey);
	display: block;
	width: 100%;
	height: 70px;
	
}

.bar{
	font-size: 35px;
	color: #fff;
	margin: 17px 0 0 60px;
	float:left;

}






