
	#logo {
		padding-left: 30px;
		padding-top: 5px;
	}

.dropbtn {
    padding: 10px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
	font-size:0.9em;
	
}
.dropdown a {
	color: inherit;
	text-decoration: none;
}
.dropdown a:hover {
	color: #a8cea4;
	font-weight: bold;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	text-align: center;

}

.dropdown-content a {
    color: black;
    padding: 8px 10px;
    text-decoration: none;
    display: block;
	font-size: 0.7em;
}
.dropdown-content a:hover {
    background-color: #eee;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
/* Header */
	#logo {
		padding-left: 30px;
		padding-top: 5px;
	}

	#header {
		position: fixed;
		z-index: 10000;
		left: 0;
		top: 0;
		width: 100%;
		background: #FFF;
		height: 3.8em;
		line-height: 4em;
		box-shadow: 0 0 0.15em 0 rgba(0, 0, 0, 0.1);
	}

	#header h2 {
		color: #000;
	}

		#header nav {
			position: absolute;
			right: 0.5em;
			top: 0;
			height: 3em;
			line-height: 3em;
		}

			#header nav ul {
				margin: 0;
			}

				#header nav ul li, .dropdown {
					display: inline-block;
					margin-left: 0.5em;
					font-size: 0.9em;
				}

					#header nav ul li a, .dropdown a{
						display: block;
						color: inherit;
						text-decoration: none;
						height: 3em;
						line-height: 4.3em;
						padding: 0 1em 0 0.5em;
						outline: 0;
					}
				#header nav ul li a:hover {
  						/* color: #2dc997; */
						color:#a8cea4;
					}

		@media screen and (max-width: 736px) {

			#header {
				height: 2.5em;
				line-height: 2.5em;
			}

				#header nav {
					display: none;
				}

		}
body {height:100%;background:#fff}
#wrap {height:100%;
	margin-top: 70px;
top: 30px;}

/* lnb */

.lnb {float:left;background:#a8cea4;width:198px;height:100%;color:#fff;font-size:16px;font-weight:600;}
.lnb a {text-decoration:none;color:#fff;}
.lnb h1{border-bottom:1px solid rgba(255,255,255,.1);color:#fff;padding:24px;font-size:16px;font-family:"Nanum Gothic";font-weight:600;}

.subtitle {background:#607a5b url(./image/on_off.png) no-repeat 166px -23px;}
.subtitle a {display:table-cell;background:url(./image/on_off.png) no-repeat 166px 13px;padding:2px 78px 4px 23px;width:118px;vertical-align:middle;height:40px;}
.sub_on a {display:table-cell;background: url(./image/on_off.png) no-repeat 166px -24px;}
.sub_on {background:none;border-bottom:1px solid rgba(255,255,255,.1);}


/* sub */
.sub {border-bottom:1px solid rgba(255,255,255,.1);border-top:1px solid rgba(255,255,255,.1);background:#75966f;padding:10px 0 0 0;}
.sub ul{background:#75966f;margin:0;padding:19px 0 8px 0;}
.sub li {background:#75966f;padding:0 0 11px 23px;}
.sub li a {background:#75966f;font-size:13px;font-weight:500;opacity:0.6;background:url(./image/bullet01.gif)no-repeat 0 4px;padding-left:12px;}
.sub li a.on {background:#75966f;color:#fff;opacity:1;}
/* sub */

section div {
	float: left;
}
section p {
	text-align: center;
}

/* 내용 */
#container {overflow: hidden;}
.txt01 {line-height: 22px;margin: 35px auto;width: 90%;font-size: 13px;}
.txt02 {line-height: 22px;margin: 35px auto;width: 90%;font-size: 13px;border-top:1px solid rgba(0,0,0,.1);border-bottom:1px solid rgba(0,0,0,.1);}
.bt01 a {background: #ff6c5c;border: 1px solid #f46050;border-radius: 0.2em;color: #fff;display: inline-block;font-size: 12px;font-weight: 600;padding: 4px 8px;text-decoration: none;margin:10px 0;}
.bt02 a {background: #ff9c00;border: 1px solid #e19a00;border-radius: 0.2em;color: #fff;display: inline-block;font-size: 14px;font-weight: 600;padding: 9px 16px;text-decoration: none;margin:10px 0;}